<div class="row text-center" id="decisions" style="height: 30%;">
  <div class="span5" id="like" style="height: 100%">
    Like Div
  </div>

  <div class="span5" id="dislike" style="height: 100%;">
    Dislike div
  </div>

</div>

<div class="row text-center" id="boxdiv" style="height: 70%;">

  <div class="span10" id="photo-boxes" style="height: 100%;">
  </div>
</div>