<div class="row-fluid">
  <div class="span6 offset3 text-center sign-up">
  <h1><span class="app-title">inlike.</span></h1>
  <p><small>inlike is a lightning-dating app.
    <br>
    "Like" users that appear on your dashboard.
    <br>
    by dragging their photo to "like" or "dislike".
    <br>
    If they "like" you back, you'll receive an alert and will be able to communicate with them.
    <br>
    If you "dislike" them, they'll never know.</small>
  </p>
  <br>
  <h3>Sign in</h3>
  <br>

  <a href="/users/auth/facebook" class="btn btn-huge btn-info">
  <i class="fui-facebook"></i>
   via Facebook
  </a>
  <br>
  <p>or</p>
  <a href="/guest" class="btn btn-huge btn-primary">
    Lurk as Guest
  </a>
  </div>
</div>