<script type="text/javascript">
  var current_user = <%= current_or_guest_user.to_json(:include => [:photos, :decisions, :matches, :received_messages, :sent_messages]).html_safe %>
  Fallinlike.Store.current_user = new Fallinlike.Models.User(current_user)

  var users = 
  <%= User.includes(:photos).where(gender: current_or_guest_user.preference).to_json(:include => :photos).html_safe %>
  Fallinlike.Store.users = new Fallinlike.Collections.Users();
  Fallinlike.Store.users.reset(users);

  filepicker.setKey("AWN38w7DR8qOX112gLvRwz");

</script>

<div class="container" id="main-wrapper">

  <div class="row" style="height: 100%;">
    
    <div class="span2" id="side-nav" style="height: 100%;">
    </div>

    <div class="span10" id="drag-area" style="height: 100%;">

    </div>
  </div>
</div>
<div class="modal hide profile"></div>
<div class="modal hide match-alert"></div>
<div class="modal hide new-message"></div>