<button type="button" class="close fui-cross" data-dismiss="modal"></button>
<div class="row-fluid">
  
  <div class="span10 offset1 text-center">
  <br>
  <strong>User:</strong>
  <h4><%= message.get('sender').escape('name') %></h4>
  
  <strong>Sent:</strong><p><%= message.escape('created_at').substr(0, 10) %></p><br>
  <strong>Message:</strong><br>
  <p><%= message.escape('body') %></p>
  <br>

  <button class="btn btn-primary reply">Reply</button>
  <br>
  <br>

  </div>

</div>