<div class="row current-user-photo text-center">
  <div class="span2">
    <img src="<%= user.get('photos').first().escape('image_url') %>">
  </div>
</div>

<div class="row username text-center">
  <div class="span2">
    <h2><%= user.escape('username') %></h2>
  </div>
</div>

<div class="row text-center">
  <div class="span2">
    <button class="btn btn-block btn-primary edit-profile">Edit Profile</button>
  </div>
</div>

<div class="row text-center">
  <div class="span 2">
  </div>
</div>

<div class="row text-center">
  <div class="span2">
    <button class="btn btn-block btn-primary messages-index">Messages</button>
  </div>
</div>

<div class="row text-center">
  <div class="span2">
    Log out
  </div>
</div>
<div class="modal hide show-edit-profile"></div>
<div class="modal hide show-messages"></div>