<br>
<div class="row current-user-photo text-center">
  <div class="span2">
    <div class="item w1 user-image">
      <img src="<%= user.get('photos').first().escape('image_url') %>"></img>
    </div>
  </div>
</div>


<div class="row username text-center">
  <div class="span2">
  <p>Logged in as</p>
    <h2><span class="current-user-name"><%= user.escape('name') %></span></h2>
  </div>
</div>

<br>
<br>
<br>

<div class="row text-center">
  <div class="span2">
    <button class="btn btn-block btn-primary edit-profile">Edit Profile</button>
  </div>
</div>

<br>

<div class="row text-center">
  <div class="span2">
    <button class="btn btn-block btn-primary messages-index">Messages</button>
  </div>
</div>

<br>

<div class="row text-center">
  <div class="span2">
  <button class="btn btn-block btn-primary log-out">Log Out
  </button>
  </div>
</div>
<div class="modal hide show-edit-profile"></div>
<div class="modal hide show-messages"></div>